
{% if fetched %}

    <div class="form-floating mb-3">
        <input type="text" name="account_name" id="account_name" placeholder="Account Name" value="{{accountName}}" required readonly class="form-control">
        <label>Account Name</label>
    </div>
    <div id="bank_error_msg" hx-swap-oob="true"></div>
    
    
    
{% else %}
   
        <div class="form-floating mb-3">
            <input type="text" name="account_name" placeholder="Account Name" id="account_name"  value="{{accountName}}" disabled class="form-control  is-invalid">
            <label>Account Name</label>
            <span class="text-danger" >
                <i class="fas fa-exclamation-circle is-invalid"></i> Invalid account details. Please check and try again.
            </span>
        </div>
        
        

{% endif %}