{% extends "user_nav.html" %}
{% load static %}
{% load humanize %}
{% load mathfilters %}

{% block content %}


            <section class="hero-section primary-overlay oh bg_img"
    data-background="assets/images/frontend/breadcrumb/636781d83acec1667727832.jpg">
    <div class="container">
        <div class="hero-content">
            <h1 class="title">Plan Subscribe</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="https://script.viserlab.com/Krysline Agence Ltd">Home</a>
                </li>
                <li>
                    Plan Subscribe
                </li>
            </ul>
        </div>
    </div>
</section>
    
        <section class="plan-section padding-top padding-bottom oh">
        <div class="container">
            <div class="row justify-content-center">
                    {% for package in packages %}
                    
                    {% if user_package.package.name == package.name or user_package.package.price > package.price %}
                        <div class="col-md-6 col-lg-4">
                        <div class="plan-item">
                            <div class="plan-header">
                                <span class="plan-badge">
                                    {{package.name}}
                                </span>
                                <div class="icon">
                                    <i class="fas fa-piggy-bank"></i>
                                </div>
                                <h3 class="title">₦{{package.price | intcomma}}</h3>
                            </div>
                            <ul class="plan-info">
                                {% for level, percent in package.commissions.items %}
                                    <li>
                                        Gen. {{ level }} : 
                                        <strong class="profit">
                                            <!-- Secure Math: (Price * Percent) / 100 -->
                                            {% comment %} ₦{{ package.price|mul:percent|div:100|floatformat:2|intcomma}} {% endcomment %}
                                        </strong> 
                                        ({{ percent }}%)
                                    </li>
                                {% endfor %}
                                                            </ul>
                            

                             <div class="invest-now py-3">
                                <button class="btn btn--base btn-lg confirmationBtn" type="button" disabled> Subscribe </button>
                            </div> 
                           {% comment %} <div class="invest-now py-3">
                                <button class="btn btn--base btn-lg confirmationBtn" data-question="Are you sure you want to subscribe this plan {{package.id}}" data-action="user/subscribe/plan/order/1" type="button">Invest Now                                </button>
                            </div>  {% endcomment %}
                        </div>
                    </div>
                    {% else %}
                        <div class="col-md-6 col-lg-4">
                        <div class="plan-item">
                            <div class="plan-header">
                                <span class="plan-badge">
                                    {{package.name}}
                                </span>
                                <div class="icon">
                                    <i class="fas fa-piggy-bank"></i>
                                </div>
                                <h3 class="title">₦{{package.price | intcomma}}</h3>
                            </div>
                            <ul class="plan-info">
                                {% for level, percent in package.commissions.items %}
                                    <li>
                                        Gen. {{ level }} : 
                                        <strong class="profit">
                                            <!-- Secure Math: (Price * Percent) / 100 -->
                                            {% comment %} ₦{{ package.price|mul:percent|div:100|floatformat:2|intcomma}} {% endcomment %}
                                        </strong> 
                                        ({{ percent }}%)
                                    </li>
                                {% endfor %}
                                                            </ul>
                            

                             <div class="invest-now py-3">
                                <a href="{{package.url}}" class="btn btn--base btn-lg confirmationBtn" type="button">Subscribe                                 </a>
                            </div> 
                           {% comment %} <div class="invest-now py-3">
                                <button class="btn btn--base btn-lg confirmationBtn" data-question="Are you sure you want to subscribe this plan {{package.id}}" data-action="user/subscribe/plan/order/1" type="button">Invest Now                                </button>
                            </div>  {% endcomment %}
                        </div>
                    </div>
                    {% endif %}

                    {% empty %}
                        <p>No active packages available at the moment. Check back later!</p>
                    {% endfor %}
                    
            </div>
        </div>
    </section>

{% comment %} <div id="confirmationModal" class="modal fade  custom--modal " tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation Alert!</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="las la-times"></i>
                </button>
            </div>
            <form method="POST" action="">
                <input type="hidden" name="package_id" value="{{pad}}" autocomplete="off">                
                <input type="hidden" name="confirm" autocomplete="off">                
                <div class="modal-body">
                    <p class="question"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn--dark" data-bs-dismiss="modal">No</button>
                    <button type="submit" class="btn btn--primary">Yes</button>
                </div>
            </form>
        </div>
    </div>
</div> {% endcomment %}





{% endblock content %}