{% load static %}
{% load humanize %}
{% load mathfilters %}

<!doctype html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Krysline Agence Ltd - Plan Subscribe</title>
    <meta name="title" Content="Krysline Agence Ltd - Plan Subscribe">
    <meta name="description" content="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit">
    <meta name="keywords" content="Krysline Agence Ltd,MLM platform,matrix platform,Multi-level-marketing">
    <link rel="shortcut icon" href="assets/images/logo_icon/favicon.png" type="image/x-icon">

    
    <link rel="apple-touch-icon" href="assets/images/logo_icon/logo.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Krysline Agence Ltd - Plan Subscribe">
    
    <meta itemprop="name" content="Krysline Agence Ltd - Plan Subscribe">
    <meta itemprop="description" content="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit">
    <meta itemprop="image" content="assets/images/seo/666c205fc90f81718362207.png">
    
    <meta property="og:type" content="website">
    <meta property="og:title" content="Krysline Agence Ltd - Matrix MLM Platform">
    <meta property="og:description" content="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit ff">
    <meta property="og:image" content="assets/images/seo/666c205fc90f81718362207.png">
    <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="1180">
    <meta property="og:image:height" content="600">
    <meta property="og:url" content="plan">
    
    <meta name="twitter:card" content="summary_large_image">
    <link href="{% static 'assets/global/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/global/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/global/css/line-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/templates/basic/css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'assets/templates/basic/css/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'assets/templates/basic/css/owl.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/templates/basic/css/odometer.css' %}" rel="stylesheet">
    <link href="{% static 'assets/templates/basic/css/nice-select.css' %}" rel="stylesheet">
    <link href="{% static 'assets/templates/basic/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'assets/templates/basic/css/custom.css' %}" rel="stylesheet">

    
        <style>
        .language-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 12px;
            width: max-content;
            height: auto;
            background-color: transparent;
            border: 0;
        }

        .language_flag {
            flex-shrink: 0;
            display: flex;
        }

        .language_flag img {
            height: 20px;
            width: 20px;
            object-fit: cover;
            border-radius: 50%;
        }

        .language-wrapper.show .collapse-icon {
            transform: rotate(180deg)
        }

        .collapse-icon {
            font-size: 13px;
            display: flex;
            transition: all linear 0.2s;
            color: #ffffff;
        }

        .language_text_select {
            font-size: 14px;
            font-weight: 400;
            display: flex;
            line-height: 1;
            color: #ffffff;
        }

        .language-content {
            display: flex;
            align-items: center;
            gap: 6px;
        }

        .language_text {
            color: #ffffff
        }

        .language-list {
            display: flex;
            align-items: center;
            gap: 6px;
            padding: 8px 12px;
            cursor: pointer;
            transition: all linear 0.3s;
        }

        .language-list:hover {
            background: #f99f0b;
        }

        .language .dropdown-menu {
            position: absolute;
            -webkit-transition: ease-in-out 0.1s;
            transition: ease-in-out 0.1s;
            opacity: 0;
            visibility: hidden;
            top: 100%;
            display: unset;
            background: -webkit-linear-gradient(-90deg, #124656 0%, #063a4a 45%, #063b46 100%);
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
            min-width: 150px;
            padding: 7px 0 !important;
            border-radius: 8px;
            border: 1px solid rgb(255 255 255 / 10%);
        }

        .language .dropdown-menu.show {
            visibility: visible;
            opacity: 1;
        }

        @media(max-width: 425px) {

            .language_text_select,
            .language_text {
                font-size: 12px;
            }

            .language .dropdown-menu {
                min-width: 120px;
            }
        }
    </style>

    <link href="assets/templates/basic/css/color.php?color=f99f0b" rel="stylesheet">
</head>


<body>

    
    <div class="overlay"></div>

    <a class="scrollToTop" href="https://script.viserlab.com/Krysline Agence Ltd"><i class="fas fa-angle-up"></i></a>
    <div class="preloader">
        <div class="loader">
            <div class="loader-inner"></div>
        </div>
    </div>

    
    <header class="header-section">
    <div class="container">
        <div class="header-wrapper">
            <div class="logo">
                <a href="https://script.viserlab.com/Krysline Agence Ltd">
                    <img src="{% static 'assets/images/logo_icon/logo.png' %}" alt="logo">
                </a>
            </div>
            <ul class="menu">
                <li>
                    <a href="https://script.viserlab.com/Krysline Agence Ltd">Home</a>
                </li>

                                    <li><a href="about">About</a></li>
                                    <li><a href="how-it-works">How It Works</a></li>
                
                <li>
                    <a href="plan">Plan</a>
                </li>

                <li>
                    <a href="blog">Blog</a>
                </li>

                <li>
                    <a href="contact">Contact</a>
                </li>
                
                                    <li class="d-md-none">
                        <a class="custom-button theme m-1 py-0" href="user/dashboard">Dashboard</a>
                    </li>
                
            </ul>
            <div class="right-area ms-lg-0 ms-auto">
                                                        <div class="language dropdown">
                        <button class="language-wrapper" data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="language-content">
                                <div class="language_flag">
                                    <img src="{% static 'assets/images/language/666c20d1b31991718362321.png' %}" alt="flag">
                                </div>
                                <p class="language_text_select">English</p>
                            </div>
                            <span class="collapse-icon"><i class="las la-angle-down"></i></span>
                        </button>
                        <div class="dropdown-menu langList_dropdow py-2" style="display: inline-block;">
                            <ul class="langList">
                                                                    <li class="language-list langSel" data-code=en>
                                        <div class="language_flag">
                                            <img src="{% static 'assets/images/language/666c20d1b31991718362321.png' %}" alt="flag">
                                        </div>
                                        <p class="language_text">English</p>
                                    </li>
                                                                    <li class="language-list langSel" data-code=hn>
                                        <div class="language_flag">
                                            <img src="{% static 'assets/images/language/666c20ecd8a3b1718362348.png' %}" alt="flag">
                                        </div>
                                        <p class="language_text">Hindi</p>
                                    </li>
                                                                    <li class="language-list langSel" data-code=bn>
                                        <div class="language_flag">
                                            <img src="{% static 'assets/images/language/666c20e3c86751718362339.jpg' %}" alt="flag">
                                        </div>
                                        <p class="language_text">Bangla</p>
                                    </li>
                                                            </ul>
                        </div>
                    </div>
                
                
                                    <a class="custom-button theme hover-cl-light d-none d-md-flex" href="user/dashboard">Dashboard</a>
                
            </div>
            <div class="header-bar ms-md-4 ms-2">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>



            <section class="hero-section primary-overlay oh bg_img"
    data-background="assets/images/frontend/breadcrumb/636781d83acec1667727832.jpg">
    <div class="container">
        <div class="hero-content">
            <h1 class="title">Plan Subscribe</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="https://script.viserlab.com/Krysline Agence Ltd">Home</a>
                </li>
                <li>
                    Plan Subscribe
                </li>
            </ul>
        </div>
    </div>
</section>
    
        <section class="plan-section padding-top padding-bottom oh">
        <div class="container">
            <div class="row justify-content-center">
                    {% for package in packages %}
                    
                        <div class="col-md-6 col-lg-4">
                        <div class="plan-item">
                            <div class="plan-header">
                                <span class="plan-badge">
                                    {{package.name}}
                                </span>
                                <div class="icon">
                                    <i class="fas fa-piggy-bank"></i>
                                </div>
                                <h3 class="title">₦{{package.price | intcomma}}</h3>
                            </div>
                            <ul class="plan-info">
                                {% for level, percent in package.commissions.items %}
                                    <li>
                                        Level {{ level }} : 
                                        <strong class="profit">
                                            <!-- Secure Math: (Price * Percent) / 100 -->
                                            ₦{{ package.price|mul:percent|div:100|floatformat:2|intcomma}}
                                        </strong> 
                                        ({{ percent }}%)
                                    </li>
                                {% endfor %}
                                                            </ul>
                            

                             <div class="invest-now py-3">
                                <a href="{{package.url}}" class="btn btn--base btn-lg confirmationBtn" type="button">Invest Now                                </a>
                            </div> 
                           {% comment %} <div class="invest-now py-3">
                                <button class="btn btn--base btn-lg confirmationBtn" data-question="Are you sure you want to subscribe this plan {{package.id}}" data-action="user/subscribe/plan/order/1" type="button">Invest Now                                </button>
                            </div>  {% endcomment %}
                        </div>
                    </div>

                    {% empty %}
                        <p>No active packages available at the moment. Check back later!</p>
                    {% endfor %}
                    
            </div>
        </div>
    </section>

    <div id="confirmationModal" class="modal fade  custom--modal " tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation Alert!</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="las la-times"></i>
                </button>
            </div>
            <form method="POST" action="">
                <input type="hidden" name="package_id" value="{{pad}}" autocomplete="off">                
                <input type="hidden" name="confirm" autocomplete="off">                
                <div class="modal-body">
                    <p class="question"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn--dark" data-bs-dismiss="modal">No</button>
                    <button type="submit" class="btn btn--primary">Yes</button>
                </div>
            </form>
        </div>
    </div>
</div>





    <footer class="padding-top primary-overlay bg_img"
    data-background="assets/images/frontend/footer/6367819801e991667727768.jpg">
    <div class="footer-top padding-bottom">
        <div class="container">
            <div class="footer-wrapper cl-white">
                <div class="footer-logo">
                    <a href="">
                        <img src="{% static 'assets/images/logo_icon/logo.png' %}" alt="images">
                    </a>
                </div>
                <p>Krysline Agence Ltd is a complete multilevel matrix solution designed for network marketers. Easily manage referrals, track earnings, and process payments securely. Start your journey today with our ready-to-go platform and expert support.</p>
                <ul class="social__icons">
                                            <li>
                            <a href="https://www.facebook.com" target="_blank"
                                class="facebook"><i class="lab la-facebook-f"></i></a>
                        </li>
                                            <li>
                            <a href="https://twitter.com" target="_blank"
                                class="facebook"><i class="lab la-twitter"></i></a>
                        </li>
                                            <li>
                            <a href="https://www.linkedin.com" target="_blank"
                                class="facebook"><i class="lab la-linkedin-in"></i></a>
                        </li>
                                    </ul>
            </div>
            <ul class="footer-menu">
                                    <li>
                        <a href="policy/terms-of-service?43">Terms of Service</a>
                    </li>
                                    <li>
                        <a href="policy/privacy-policy?42">Privacy Policy</a>
                    </li>
                            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p>&copy; All Right Reserved By <a href="https://script.viserlab.com/Krysline Agence Ltd">Krysline Agence Ltd</a></p>
        </div>
    </div>
</footer>

    
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'assets/global/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'assets/global/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/templates/basic/js/magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/templates/basic/js/wow.min.js' %}"></script>
    <script src="{% static 'assets/templates/basic/js/owl.min.js' %}"></script>
    <script src="{% static 'assets/templates/basic/js/odometer.min.js' %}"></script>
    <script src="{% static 'assets/templates/basic/js/viewport.jquery.js' %}"></script>
    <script src="{% static 'assets/templates/basic/js/nice-select.js' %}"></script>
    <script src="{% static 'assets/templates/basic/js/app.js' %}"></script>

    
    
    <link href="{% static 'assets/global/css/iziToast.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/global/css/iziToast_custom.css' %}" rel="stylesheet">
<script src="{% static 'assets/global/js/iziToast.min.js' %}"></script>

<script>
    "use strict";
    const colors = {
        success: '#28c76f',
        error: '#eb2222',
        warning: '#ff9f43',
        info: '#1e9ff2',
    }

    const icons = {
        success: 'fas fa-check-circle',
        error: 'fas fa-times-circle',
        warning: 'fas fa-exclamation-triangle',
        info: 'fas fa-exclamation-circle',
    }

    const notifications = [];
    const errors = [];


    const triggerToaster = (status, message) => {
        iziToast[status]({
            title: status.charAt(0).toUpperCase() + status.slice(1),
            message: message,
            position: "topRight",
            backgroundColor: '#fff',
            icon: icons[status],
            iconColor: colors[status],
            progressBarColor: colors[status],
            titleSize: '1rem',
            messageSize: '1rem',
            titleColor: '#474747',
            messageColor: '#a2a2a2',
            transitionIn: 'obunceInLeft'
        });
    }

    if (notifications.length) {
        notifications.forEach(element => {
            triggerToaster(element[0], element[1]);
        });
    }

    if (errors.length) {
        errors.forEach(error => {
            triggerToaster('error', error);
        });
    }

    function notify(status, message) {
        if (typeof message == 'string') {
            triggerToaster(status, message);
        } else {
            $.each(message, (i, val) => triggerToaster(status, val));
        }
    }
</script>

        
<script>
    (function ($) {
        "use strict";
        $(document).on('click','.confirmationBtn', function () {
            var modal   = $('#confirmationModal');
            let data    = $(this).data();
            modal.find('.question').text(`${data.question}`);
            modal.find('form').attr('action', `${data.action}`);
            modal.modal('show');
        });
    })(jQuery);
</script>
    <script>
        (function($) {
            "use strict";

            $('.policy').on('click', function() {
                $.get('cookie/accept', function(response) {
                    $('.cookies-card').addClass('d-none');
                });
            });

            setTimeout(function() {
                $('.cookies-card').removeClass('hide')
            }, 2000);

        })(jQuery);
    </script>
    <script>
        $(document).ready(function() {
            const $mainlangList = $(".langList");
            const $langBtn = $(".language-content");
            const $langListItem = $mainlangList.children();

            $langListItem.each(function() {
                const $innerItem = $(this);
                const $languageText = $innerItem.find(".language_text");
                const $languageFlag = $innerItem.find(".language_flag");

                $innerItem.on("click", function(e) {
                    $langBtn.find(".language_text_select").text($languageText.text());
                    $langBtn.find(".language_flag").html($languageFlag.html());
                });
            });
        });
    </script>

    <script>
        (function($) {
            "use strict";

            $(".langSel").on("click", function() {
                var code = $(this).data('code');
                window.location.href = "change/" + code;
            });

            var inputElements = $('[type=text],[type=password],select,textarea');
            $.each(inputElements, function(index, element) {
                element = $(element);
                element.closest('.form-group').find('label').attr('for', element.attr('name'));
                element.attr('id', element.attr('name'))
            });

            $.each($('input, select, textarea'), function(i, element) {
                var elementType = $(element);
                if (elementType.attr('type') != 'checkbox') {
                    if (element.hasAttribute('required')) {
                        $(element).closest('.form-group').find('label').addClass('required');
                    }
                }
            });

            $.each($('input:not([type=checkbox]):not([type=hidden]), select, textarea'), function(i, element) {
                if (element.hasAttribute('required')) {
                    $(element).closest('.form-group').find('label').addClass('required');
                }

            });

            let disableSubmission = false;
            $('.disableSubmission').on('submit', function(e) {
                if (disableSubmission) {
                    e.preventDefault()
                } else {
                    disableSubmission = true;
                }
            });

        })(jQuery);
    </script>


<script>
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5fe0b9b2a8a254155ab5421d/1eq2tap1m';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
  })();
</script>



<script>
if (window.top != window.self) {
    document.body.innerHTML += '<div style="position:fixed;top:0;width:100%;z-index:9999999;background:#f8d7da;color:#721c24;text-align:center; padding: 20px;"><p style="font-size:20px; font-weight: bold;">You are using this website under an external iframe!!</p><p style="font-size:16px; margin-top: 20px;">for a better experience, please browse directly instead of an external iframe.</p><a href="'+window.self.location+'" target="_blank" style=" margin-top:20px; color: #fff;background-color: #dc3545; padding: 5px 10px; border-radius: 5px; text-decoration: none;">Browse Directly</a></div>';
}
</script>



<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1ME4K0RD7K"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-1ME4K0RD7K');
</script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"version":"2024.11.0","token":"0542d18bc5a94bf6b5460f8530f5a523","r":1,"server_timing":{"name":{"cfCacheStatus":true,"cfEdge":true,"cfExtPri":true,"cfL4":true,"cfOrigin":true,"cfSpeedBrain":true},"location_startswith":null}}' crossorigin="anonymous"></script>
</body>

</html>
