<div class="col-12 col-md-4 col-lg-4 col-xl-3">
    <div class="position-sticky" style="top:5.5rem">
        <div class="card adminuiux-card mb-4">
            <div class="card-body">
                <ul class="nav nav-pills adminuiux-nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link {% if update %}active{% endif %}" aria-current="page" href="{% url "profile_update" %}">
                            <div class="avatar avatar-28 icon"><i data-feather="user"></i></div>
                            <div class="col">
                                <p class="h6 mb-0">My Profile</p>
                                <p class="small opacity-75">Basic Details</p>
                            </div>
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link {% if payment %}active{% endif %}" aria-current="page" href="{% url "payment_update" %}">
                            <div class="avatar avatar-28 icon"><i class="bi bi-cash-stack fs-4"></i></div>
                            <div class="col">
                                <p class="h6 mb-0">Payment</p>
                                <p class="small opacity-75">Online, Devices, Cash</p>
                            </div>
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link {% if withdraw %}active{% endif %}" aria-current="page" href="{% url "withdraw_funds" %}">
                            <div class="avatar avatar-28 icon"><i class="bi bi-cash-stack fs-4"></i></div>
                            <div class="col">
                                <p class="h6 mb-0">Withdraw Funds</p>
                                <p class="small opacity-75">Transaction, Transfer, Cash</p>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if security %}active{% endif %}" aria-current="page" href="investment-settings-contact.html">
                            <div class="avatar avatar-28 icon"><i class="bi bi-key fs-4"></i></div>
                            <div class="col">
                                <p class="h6 mb-0">Enable 2FA</p>
                                <p class="small opacity-75">Security, 2FA</p>
                                <!-- TODO: Update for 2FA-->
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>