{% extends "user_dash_nav.html" %}
{% load static %}
{% load humanize %}
{% load mathfilters %}



    {% block content %}
    
  <main class="adminuiux-content has-sidebar" onclick="contentClick()">
                        <!-- body content of pages -->

                        <!-- breadcrumb -->
                        <div class="container-fluid mt-4">
                            <div class="row gx-3 align-items-center">
                                <div class="col-12 col-sm">
                                    <nav aria-label="breadcrumb" class="mb-2">
                                        <ol class="breadcrumb mb-0">
                                            <li class="breadcrumb-item bi"><a href="{% url "dashboard" %}">Home</a></li>
                                            <li class="breadcrumb-item active bi" aria-current="page">Transactions</li>
                                        </ol>
                                    </nav>
                                    <h5>Transactions</h5>
                                </div>
                                
                            </div>
                        </div>

                        <!-- content -->
                        <div class="container" id="main-content">
                            <!-- filter area -->
                            

                            <!-- appointment grid view list datatable-->
                            <div class="card adminuiux-card mt-4 mb-0">
                                <div class="card-body">
                                    <!-- data table -->
                                    <table id="dataTable" class="table w-100 nowrap">
                                        <thead>
                                            <tr>
                                                
                                                <th class="all">Date</th>
                                                <th data-breakpoints="xs sm">TRX ID</th>
                                                <th data-breakpoints="xs sm md">Amount</th>
                                                <th data-breakpoints="xs sm">Source</th>
                                                <th data-breakpoints="xs sm">Detail</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for comm in history %}
                                                <tr>
                                                    
                                                    <td>
                                                        <p class="mb-0">{{ comm.timestamp|date:"d M, Y" }}</p>
                                                        <p class="text-secondary small">{{ comm.timestamp|date:"h:i A" }}</p>
                                                    </td>
                                                    <td>
                                                        <p class="mb-0">#{{ comm.id }}</p>
                                                    </td>
                                                    <td>
                                                        <h6>₦{{ comm.amount|floatformat:2 }}</h6>

                                                    </td>
                                                    <td>
                                                        <p class="mb-0 fw-medium">{{ comm.transaction_type|default:"Withdraw"|title }}</p>
                                                    </td>
                                                    {% if comm.transaction_type == 'package_purchase' %}
                                                        <td>
                                                            <span class="badge badge-light rounded-pill fw-bold text-bg-warning">{{comm.get_transaction_type_display|title}}</span>
                                                            
                                                        </td>
                                                    {% elif comm.transaction_type == 'commission' %}
                                                        <td>
                                                            <span class="badge badge-light rounded-pill fw-bold text-bg-info">{{comm.get_transaction_type_display|title}}</span>
                                                        </td>
                                                    {% else %}
                                                        <td>
                                                            <span class="badge badge-light rounded-pill fw-bold text-bg-danger">{{comm.get_transaction_type_display|title}}</span>
                                                        </td>
                                                    {% endif %}
                                                    
                                                </tr>
                                            {% empty %}
                                                <tr>
                                                    <td colspan="100%" class="text-center py-4">
                                                        <img src="/static/assets/images/no-data.png" alt="" style="width: 50px; opacity: 0.5;"><br>
                                                        <span class="text-muted">No commissions earned yet. Start referring!</span>
                                                    </td>
                                                </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div>
                    </main>

            </div>

            <!-- page footer -->
            <!-- standard footer -->

    
    {% endblock content %}