{% extends "user_dash_nav.html" %}
{% load static %}
{% load humanize %}
{% load mathfilters %}


{% block content %}

<main class="adminuiux-content has-sidebar" onclick="contentClick()">
                    <!-- body content of pages -->

                    <!-- breadcrumb -->
    <div class="container-fluid mt-4">
        <div class="row gx-3 align-items-center">
            <div class="col-12 col-sm">
                <nav aria-label="breadcrumb" class="mb-2">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item bi"><a href="{% url "dashboard" %}">Home</a></li>
                        <li class="breadcrumb-item active bi" aria-current="page">Withdrawal</li>
                    </ol>
                </nav>
                <h5>Withdrawal</h5>
            </div>
        </div>
    </div>

    <!-- content -->
    <div class="container mt-4" id="main-content">

       

        <!-- settings -->
        <div class="row">
            {% include "users/setting-option.html" %}
            <div class="col">
                <div class="card adminuiux-card overflow-hidden mb-4">
                    <div class="card-body">
                        <form action="" method="POST" >
                            {% csrf_token %}
                            {% include "message.html" %}
                                <h6 class="mb-3">Withdrawing Process</h6>
                                <div class="row mb-2">
                                    <div class="col-12 col-md-6 col-lg-6 mb-3">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">₦</span>
                                            <input type="text" name="amount" class="form-control" aria-label="Amount (to the nearest dollar)">
                                            <span class="input-group-text">.00</span>
                                        </div>
                                        <span class="input-text text-danger-light mb-3">Safely withdraw your funds using our highly secure process and various withdrawal method</span>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 text-center">
                                        <div class="input-group mb-3">
                                            <button type="submit" class="btn btn-theme">Confirm Withdrawal</button>
                                        </div>
                                    </div>
                                </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</main>

</div>

<!-- page footer -->
<!-- standard footer -->
   
   
    {% comment %} <script src="{% static 'assets/global/js/fixi.js' %}"></script> {% endcomment %}
    <script src="{% static 'assets/templates/basic/js/htmx.min.js' %}"></script>

   
    {% endblock %}