{% extends "user_nav.html" %}
{% load static %}
{% load humanize %}
{% load mathfilters %}


{% block content %}

    <section class="hero-section primary-overlay oh bg_img"
    data-background="{% static "assets/images/frontend/breadcrumb/636781d83acec1667727832.jpg" %}">
    <div class="container">
        <div class="hero-content">
            <h1 class="title">Profile Setting</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="https://script.viserlab.com/Krysline Agency Ltd">Home</a>
                </li>
                <li>
                    Profile Setting
                </li>
            </ul>
        </div>
    </div>
</section>
    <div class="padding-top padding-bottom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card custom--card primary-bg profile-wrapper">
                        <div class="card-body">
                            <form class="register" action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% include "message.html" %}                            <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label class="form-label">First Name</label>
                                        <input type="text" name="first_name" value="{{ user.first_name }}" required>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="form-label">Last Name</label>
                                        <input type="text" name="last_name" value="{{ user.last_name }}" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label class="form-label">E-mail Address</label>
                                        <input value="{{user.email }}" readonly>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="form-label">Username</label>
                                        <input value="{{ user.username }}" readonly>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label class="form-label">Address</label>
                                        <input type="text" name="address" {% if user.profile.address %}value="{{user.profile.address|title}}" {% endif %} required>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="form-label">State </label>
                                        <input type="text" name="state" {% if user.profile.state %}value="{{user.profile.state|title}}"{% endif %}  required>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <label class="form-label"> Zip Code </label>
                                        <input type="text" name="zip_code" {% if user.profile.zip_code %}value="{{user.profile.zip_code|title}}"{% endif %}  required>
                                    </div>

                                    <div class="form-group col-sm-4">
                                        <label class="form-label">City</label>
                                        <input type="text" name="city" {% if user.profile.city %}value="{{user.profile.city|title}}"{% endif %}   required>
                                    </div>
                                    
                                    <div class="form-group col-sm-4">
                                        <label class="form-label">Country</label>
                                        <input type="text" name="country" {% if user.profile.country %}value="{{user.profile.country|title}}"{% endif %}  required>
                                        
                                    </div>

                                </div>


                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <label class="form-label">Account Number</label>
                                        <!-- Added id="account_number" for HTMX targeting -->
                                        <input type="text" name="account_number" id="account_number" 
                                            {% if user.profile.account_number %}value="{{user.profile.account_number}}"{% endif %} 
                                            required>
                                    </div>

                                    <div class="form-group col-sm-4">
                                        <label class="form-label">Bank Name</label>
                                        <select name="bank" id="bank" class="form-control form-select text-info" required
                                            hx-post="{% url 'verify_bank_account' %}"
                                            hx-trigger="change"
                                            hx-target="#account_name_container"
                                            hx-include="#account_number"
                                            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                                        >
                                            <option value="" disabled selected>-- Choose Bank --</option>
                                            {% if user.profile.bank %}
                                                <option value="{{user.profile.bank}}" selected>{{user.profile.bank}}</option>
                                            {% endif %}
                                            <option value="044-Access Bank">Access Bank</option>
                                            <option value="063-Access Bank (Diamond)">Access Bank (Diamond)</option>
                                            <option value="070-Fidelity Bank">Fidelity Bank</option>
                                            <option value="011-First Bank of Nigeria">First Bank</option>
                                            <option value="214-First City Monument Bank">FCMB</option>
                                            <option value="058-Guaranty Trust Bank">GTB</option>
                                            <option value="50515-Moniepoint MFB">Moniepoint MFB</option>
                                            <option value="999992-OPay Digital Services Limited (OPay)">OPay</option>
                                            <option value="232-Sterling Bank">Sterling Bank</option>
                                            <option value="033-United Bank For Africa">UBA</option>
                                            <option value="035-Wema Bank">Wema Bank</option>
                                            <option value="057-Zenith Bank">Zenith Bank</option>
                                        </select>
                                    </div>
                                    
                                    <div class="form-group col-sm-4" id="account_name_container">
                                        <label class="form-label">Account Name</label>
                                        <!-- This entire input area will be replaced by the HTMX response -->
                                        <input type="text" name="account_name" id="account_name" 
                                            {% if user.profile.account_name %}value="{{user.profile.account_name}}"{% endif %} 
                                            readonly class="form-control bg-light">
                                        </div>
                                        <div id="bank_error_msg" class="text-danger small mt-1"></div>
                                
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn--base w-100">Submit</button>
                                    </div>
                                
                            </form>

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
   
    {% comment %} <script src="{% static 'assets/global/js/fixi.js' %}"></script> {% endcomment %}
    <script src="{% static 'assets/templates/basic/js/htmx.min.js' %}"></script>

   
    {% endblock %}